@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
}

header nav {
  margin: 0;
  padding: 0;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  background: #06052d;
}
header nav ul li {
  text-align: center;
}
header nav ul li:nth-of-type(2) {
  width: 50%;
}
header nav ul li:nth-of-type(2) a {
  width: calc(100% - 320px);
  background: url("../images/logo.png") no-repeat;
  height: 158px;
  margin: 0 auto;
  text-align: center;
  text-indent: -99999px;
  display: block;
}
header nav ul li:nth-of-type(2) a:hover {
  background: url("../images/logo.png") no-repeat;
}
header nav ul li a {
  color: #000;
  text-decoration: none;
  line-height: 158px;
  font-weight: bolder;
  transition: all 3s;
}
header nav ul li a:hover {
  color: brown;
  background: #000;
}
header nav ul li a span {
  background: #140c49;
  color: white;
  padding: 10px 20px;
}

section {
  background: #585757;
  padding-top: 50px;
  padding-bottom: 50px;
}
section .main {
  width: 1100px;
  margin: 0 auto;
}
section .main .banner img {
  width: 100%;
}
section .main .introduce {
  background: #101010;
  padding: 20px;
}
section .main .introduce p {
  color: #fff;
}
